.container {
  min-height: 100vh;
  background: #654ea3;
  background-image: url("../../../../assets/images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
mat-card {
  width: 400px;
  text-align: center;
}

mat-form-field {
  display: block;
}
