<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxFlexFill
  fxLayoutAlign="center center"
>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submit()" fxLayout="column">
        <div class="card-title">
          <mat-icon
            style="
              color: purple;
              font-size: 44px;
              width: 44px;
              height: 44px;
              margin-left: 1rem;
            "
            >rocket</mat-icon
          >
          <div>Welcome to the solar system</div>
        </div>
        <hr />
        @if (false) {
        <mat-error> The username and password were not recognized </mat-error>
        }

        <mat-form-field>
          <input
            matInput
            formControlName="username"
            placeholder="username"
            name="username"
            required
          />
          @if (f['username'].touched && f['username'].invalid) {
          <mat-error> Please provide a username </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            name="password"
            required
          />
          @if (f['password'].touched && f['password'].invalid) {
          <mat-error> Please provide a valid password </mat-error>
          }
        </mat-form-field>

        <button
          fxflex="100"
          mat-raised-button
          color="primary"
          [disabled]="!loginForm.valid || store.isLoading()"
        >
          @if(store.isLoading()) {
          <mat-icon><mat-spinner diameter="18"> </mat-spinner></mat-icon>

          } @else { Fly }
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
