.progress-bar-container {
  height: 10px;
}
.container {
  padding: 1em;
}

.planet-card {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 180px;
  padding: 0.5em;
}

.card-footer {
  position: absolute;
  bottom: 0;
  margin-top: 5px;
}
